/* 폰트 로드 */
@font-face {
    font-family: "CustomFont";
    src: url("/static/fonts/JalnanOTF.otf") format("opentype"),
    url("/static/fonts/Jalnan.ttf") format("truetype");
}

/* 사용자 지정 속성 */
:root {
    --main-color: #4e4897;
    --sub-color: #a7a5cd;
    --white-color: #ffffff;
}

/* 기본 스타일 */
body {
    background-color: #f6f6f6;
    font-family: 'CustomFont', sans-serif;
}

/* 공통 텍스트 스타일 */
.text-center {
    text-align: center;
}

.margin-auto {
    margin: 0 auto;
}

.container {
    margin: 100px auto;
    padding-top: 100px;
}

/* 로고 스타일 */
.logo-container, #logo {
    text-align: center;
    margin: 20px 0;
}

#logo {
    max-width: 100px;
}

/* 회원가입 폼 컨테이너 스타일 */
.find-password-container {
    background-color: var(--white-color);
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 40px 40px;
}

/* 폼 스타일 */
#findPasswordForm {
    margin: 0 auto;
    max-width: 400px;
    padding-bottom: 60px;
    position: relative;
}

.form-label, .form-control {
    border-color: var(--main-color);
    color: var(--main-color);
    font-size: 20px;
}

.form-label {
    display: flex;
    align-items: center;
    font-weight: bold;
    margin-bottom: 10px;
}

.form-control{
    border: 2px solid var(--main-color);
    border-radius: 0;
    padding: 10px;
    margin-bottom: 20px;
}

.form-control:focus {
    border-color: var(--main-color);
    box-shadow: 0 0 0 0.3rem rgba(78, 72, 151, 0.25);
}

.form-control:hover {
    border-color: var(--sub-color);
}

.password-inputs {
    margin-bottom: 50px;
}

/* 버튼 스타일 */
.btn-wrap {
    display: flex;
    justify-content: space-between;
}

.find-password-btn, .back-btn {
    bottom: 0;
    font-size: 25px;
    width: 45%;
}

.btn-main-color, .btn-primary {
    background-color: var(--white-color);
    border: 3px solid var(--main-color);
    border-radius: 15px;
    color: var(--main-color);
    transition: background-color 0.3s, border-color 0.3s;
}

.btn-main-color:active, .btn-main-color:focus, .btn-main-color:hover,
.btn-primary:active, .btn-primary:focus, .btn-primary:hover,
.btn-primary:not(:disabled):not(.disabled):active,
.btn-primary:not(:disabled):not(.disabled).active,
.show > .btn-primary.dropdown-toggle {
    background-color: var(--sub-color);
    border-color: var(--main-color);
    color: var(--white-color);
}

.custom-control-input:checked ~ .custom-control-label::before,
.custom-control-input:checked ~ .custom-control-label::after {
    border-color: var(--main-color);
}

.custom-control-input:checked ~ .custom-control-label::before {
    background-color: var(--main-color);
}