/* 폰트 로드 */
@font-face {
    font-family: "CustomFont";
    src: url("/static/fonts/JalnanOTF.otf") format("opentype"),
    url("/static/fonts/Jalnan.ttf") format("truetype");
}

/* 사용자 지정 속성 */
:root {
    --main-color: #4e4897;
    --sub-color: #a7a5cd;
    --white-color: #ffffff;
}

/* 기본 스타일 */
body {
    background-color: #f6f6f6;
    font-family: 'CustomFont', sans-serif;
}

/* 공통 텍스트 스타일 */
.text-center {
    text-align: center;
}

.margin-auto {
    margin: 0 auto;
}

.container {
    margin: 50px auto;
}

/* 로고 스타일 */
.main-logo {
    text-align: center;
    padding-bottom: 30px;
}

/* 로그인 폼 컨테이너 스타일 */
.login-container {
    background-color: var(--white-color);
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 40px;
}

/* 폼 스타일 */
#login-form {
    margin: 0 auto;
    max-width: 400px;
    padding-bottom: 60px;
    position: relative;
}

div.pw-eye {
    position: relative;
}

div.pw-eye i {
    position: absolute;
    right: 3%;
    top: 27px;
}

.c-headline {
    position: relative;
    text-align: center;
    font-weight: bold;
    color: #848484;
    margin-top: 30px;
    padding: 0 10px;
}

.c-headline::before,
.c-headline::after {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    height: 1px;
    background: #eee;
    width: calc(40% - 70px);
}

.c-headline::before {
    left: 0;
}

.c-headline::after {
    right: 0;
}

.img-container {
    text-align: center;
    margin-top: 10px;
    height: 150px;
}

.social-container {
    margin-bottom: 60px;
}

.social-image {
    padding: 10px 0;
}

.image {
    width: 280px;
    height: 51px;
}

.form-label, .form-control, .form-check-input {
    border-color: var(--main-color);
    color: var(--main-color);
    font-size: 20px;
}

.form-label {
    display: flex;
    align-items: center;
    font-weight: bold;
    margin-bottom: 10px;
}

.form-control, .form-check-input, #save-username {
    border: 2px solid var(--main-color);
    border-radius: 0;
    padding: 10px;
}

.form-control {
    margin-bottom: 20px;
    height: 55px;
}

.form-control:focus, .form-check-input:focus, #save-username:focus {
    border-color: var(--main-color);
    box-shadow: 0 0 0 0.3rem rgba(78, 72, 151, 0.25);
}

.form-control:hover {
    border-color: var(--sub-color);
}

.form-check-label {
    vertical-align: middle;
    margin-left: 10px;
}

.form-check-input {
    vertical-align: middle;
}

.form-check-input:checked {
    background-color: var(--main-color);
    border-color: var(--main-color);
}

#save-username {
    width: 20px;
    height: 20px;
    vertical-align: middle;
    margin-right: 10px;
}

/* 버튼 스타일 */
.login-btn {
    bottom: 0;
    font-size: 25px;
    position: absolute;
    right: 0;
    width: 45%;
}

.sign-up-btn {
    bottom: 0;
    font-size: 25px;
    position: absolute;
    left: 0;
    width: 45%;
}

.btn-main-color, .btn-primary {
    background-color: var(--white-color);
    border: 3px solid var(--main-color);
    border-radius: 15px;
    color: var(--main-color);
    transition: background-color 0.3s, border-color 0.3s;
}

.btn-main-color:active, .btn-main-color:focus, .btn-main-color:hover,
.btn-primary:active, .btn-primary:focus, .btn-primary:hover,
.btn-primary:not(:disabled):not(.disabled):active,
.btn-primary:not(:disabled):not(.disabled).active,
.show > .btn-primary.dropdown-toggle {
    background-color: var(--sub-color);
    border-color: var(--main-color);
    color: var(--white-color);
}

.custom-control-input:checked ~ .custom-control-label::before,
.custom-control-input:checked ~ .custom-control-label::after {
    border-color: var(--main-color);
}

.custom-control-input:checked ~ .custom-control-label::before {
    background-color: var(--main-color);
}

.form-check-label a span {
    text-decoration: none;
}

.account-container {
    display: flex;
    justify-content: space-between;
    padding-bottom: 10px;
}

.find {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.idSearch, .pwSearch {
    display: flex;
}

.idSearch {
    margin-right: 10px;
}

.pwSearch {
    margin-left: 10px;
}