/* 폰트 로드 */
@font-face {
    font-family: "CustomFont";
    src: url("/static/fonts/JalnanOTF.otf") format("opentype"),
    url("/static/fonts/Jalnan.ttf") format("truetype");
}

/* 사용자 지정 속성 */
:root {
    --main-color: #4e4897;
    --sub-color: #a7a5cd;
    --white-color: #ffffff;
}

/* 기본 스타일 */
body {
    background-color: #f6f6f6;
    font-family: 'CustomFont', sans-serif;
}

/* 카드 스타일 */
.card {
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
    padding-right: 10px;
}

.card-body {
    width: 400px;
    padding: 15px;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

/* 팔로우 버튼 스타일 */
.follow-btn  {
    border: 2px solid var(--main-color);
    background-color: var(--main-color);
    color: white;
    margin-top: auto;
    align-self: flex-end;
    padding: 3px 8px;
}

.id-icon, .status-icon {
    border: 1px solid black;
    background-color: black;
    border-radius: 0px;
    margin-left: 5px;
    color: white;
    transition: background-color 0.3s, border-color 0.3s;
}

.badge {
    margin-right: 8px;
}