@font-face {
    font-family: "CustomFont";
    src: url("/static/fonts/JalnanOTF.otf") format("opentype"),
    url("/static/fonts/Jalnan.ttf") format("truetype");
}

/* 사용자 지정 속성 */
:root {
    --main-color: #9490c7;
    --sub-color: #a7a5cd;
    --sub-color2: #6762A6;
    --white-color: #ffffff;
    --bs-emphasis-color: #000;
    --bs-emphasis-color-rgb: 0,0,0;
    --bs-tertiary-bg: #f8f9fa;
}

/* 기본 스타일 */
body {
    background-color: #f6f6f6;
    font-family: 'CustomFont', sans-serif;
}

.custom-header {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}


