@font-face {
    font-family: "CustomFont";
    src: url("/static/fonts/JalnanOTF.otf") format("opentype"),
    url("/static/fonts/Jalnan.ttf") format("truetype");
}

/* 사용자 지정 속성 */
:root {
    --main-color: #4E4897FF;
    --sub-color: #a7a5cd;
    --sub-color2: #6762A6;
    --white-color: #ffffff;
    --bs-emphasis-color: #000;
    --bs-emphasis-color-rgb: 0,0,0;
    --bs-tertiary-bg: #f8f9fa;
}

/* 기본 스타일 */
body {
    background-color: #f6f6f6;
    font-family: 'CustomFont', sans-serif;
}

.custom-header {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

/* 글 목록 테이블 스타일 */
.comment-list {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    margin-bottom: 20px;
}

.comment-list th, .roadmap-list th {
    border: none;
    border-bottom: 3px solid var(--sub-color);
    padding: 8px;
    text-align: center;
}

.comment-list th, .comment-list td {
    text-align: left;
}

.comment-list th.comment-col {
    width: 35%;
}

.comment-item {
    margin-bottom: 20px;
    border: 1px solid #ccc;
    padding: 10px;
}

a, a:visited {
    color: var(--main-color);
    text-decoration: none;
}

a:hover {
    color: var(--main-color);
    text-decoration: underline;
}
