/* 글씨체 적용 */
@font-face {
    font-family: 'yg-jalnan';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_four@1.2/JalnanOTF00.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* 사용자 지정 속성 */
:root {
    --main-color: #4e4897;
    --sub-color: #a7a5cd;
    --white-color: #ffffff;
}

/* 폰트 설정 */
* {
    font-family: "yg-jalnan" !important;
}

/* 로드맵 북마크 목록 버튼 설정 */
.roadmap-bookmark-btn {
    border: solid 1px rgba(147, 143, 143, 0.66);
    border-radius: 8px;
    background-color: #eeeeee;
    float: right;
}
.roadmap-bookmark-btn:hover {
    text-decoration: none;
    border: 1px solid var(--main-color);
    background-color: var(--main-color);
    color: white;
}

/* 로드맵 북마크 목록의 타입 뱃지 설정 */
.type {
    border: 1px solid var(--main-color);
    background-color: var(--main-color);
    border-radius: 0;
    color: white;
    transition: background-color 0.3s, border-color 0.3s;
}

/* pagenation 버튼 스타일 */
.custom-button {
    background-color: var(--main-color);
    border-color: var(--main-color);
    color: white;
    margin-right: 5px;
}

.custom-button:last-child {
    margin-right: 0;
}

/* 현재 page 스타일 */
.custom-button.active {
    background-color: var(--sub-color);
    border-color: var(--sub-color);
    color: var(--main-color);
}