<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>게시글 상세조회</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9"
          crossorigin="anonymous">
    <link rel="stylesheet" href="/static/css/article-detail-style.css">
</head>
<body>

<div class="container mt-5">
    <div class="article">
        <div class="article-top">
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle article-dropdown" type="button"
                        data-bs-toggle="dropdown" aria-expanded="false">글 설정</button>
                <ul class="dropdown-menu">
                    <form>
                        <button class="dropdown-item" id="article-update">수정</button>
                    </form>
                    <form>
                        <button class="dropdown-item" id="article-delete">삭제</button>
                    </form>
                    <form>
                        <button class="dropdown-item" id="article-images-action">이미지만 수정/삭제</button>
                    </form>
                </ul>
            </div>
            <button class="btn btn-primary list-btn" id="list-btn" type="button">목록으로</button>
            <div class="article-title">
                <span class="badge rounded-pill type" id="type"></span>
                <span id="article-title"></span>
            </div>
        </div>
        <div class="article-meta">
            <span id="article-username"></span>
            <span id="article-date"></span>
        </div>
        <div class="article-content">
            <span id="article-content"></span>
        </div>
        <div id="article-images" class="article-images"></div>
    </div>
    <div class="comments">
        <div class="comment-num">
            <h5>댓글 [<span id="comment-count">0</span>]</h5>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="input-group">
                    <textarea class="form-control" rows="1" placeholder="댓글을 입력하세요"></textarea>
                    <button class="btn btn-primary comment-btn" type="button">작성</button>
                </div>
            </div>
        </div>
        <div class="comment-container"></div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
        crossorigin="anonymous"></script>
<script src="/static/js/article-detail-data-process.js"></script>
<script src="/static/js/article-detail-ui.js"></script>
<script src="/static/js/article-list-data-process.js"></script>
<script src="/static/js/article-image-data-process.js"></script>
<script src="/static/js/article-detail-event-handler.js"></script>
<script src="/static/js/article-comment-ui.js"></script>
<script src="/static/js/article-comment-event-handler.js"></script>
<script src="/static/js/article-comment-data-process.js"></script>
</body>
</html>