<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Hidden Piece 로그인</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/css/login-style.css">
    <script src="https://kit.fontawesome.com/7ac3df581d.js" crossorigin="anonymous"></script>
</head>
<body>

<div class="container">
    <div class="row">
        <div class="col-md-8 offset-md-2 login-container">
            <form id="login-form">
                <div class="logo-container">
                    <a href="/views/main"><img src="/static/img/logo.png" alt="Hidden Piece LOGO" id="logo"></a>
                </div>
                <!-- 아이디, 비밀번호 입력 -->
                <div class="account-info-input">
                    <div class="input-id" data-label="아이디" data-type="text" data-id="username"></div>
                    <div class="input-pw" data-label="비밀번호" data-type="password" data-id="password"></div>
                    <div class="account-container">
                        <span class="input-wrap">
                            <label for="save-username">
                                <input type="checkbox" id="save-username" style="accent-color: #4e4897"> 아이디 저장
                            </label>
                        </span>
                        <ul class="find">
                            <li class="idSearch" id="idSearch" style="cursor: pointer">아이디 찾기</li>
                            <li class="pwSearch" id="pwSearch" style="cursor: pointer">비밀번호 찾기</li>
                        </ul>
                    </div>
                </div>

                <!-- 로그인 및 회원가입 버튼 -->
                <div class="button-container">
                    <button type="button" class="btn btn-primary sign-up-btn">SIGN-UP</button>
                    <button type="submit" class="btn btn-primary login-btn">SIGN-IN</button>
                </div>
            </form>

            <div class="social-container">
                <div class="c-headline">
                    <p class="c-headline-desc">또는 SNS 아이디로 로그인</p>
                </div>
                <div class="img-container">
                    <div class="social-image">
                        <a href="/oauth2/authorization/google">
                            <img class="image" src="/static/img/google_login.png" alt="Google">
                        </a>
                    </div>
                    <div class="social-image">
                        <a href="/oauth2/authorization/kakao">
                            <img class="image" src="/static/img/kakao_login.png" alt="Kakao">
                        </a>
                    </div>
                    <div class="social-image">
                        <a href="/oauth2/authorization/naver">
                            <img class="image" src="/static/img/naver_login.png" alt="Naver">
                        </a>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
        crossorigin="anonymous"></script>
<script src="/static/js/login-ui.js"></script>
<script src="/static/js/login-event-handler.js"></script>
<script src="/static/js/login-data-process.js"></script>
</body>
</html>