<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>내가 북마크한 게글 목록</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <link href="/static/css/my-page-sidebar-style.css" rel="stylesheet">
    <link href="/static/css/my-profile-bookmarks-styles.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/@docsearch/css@3" rel="stylesheet">
</head>
<body>
<main class="d-flex flex-fill">
    <div th:replace="~{my-page-sidebar :: div}"></div>
    <div class="container mt-5">
        <div class="row">
            <div class="col-lg-8 mx-auto">
                <header class="custom-header">내가 북마크한 게시글</header>
                <main>

                    <table class="table bookmark-list">
                        <thead>
                        <tr>
                            <th scope="col" class="title-col">북마크 이름</th>
                            <th scope="col" class="title-col">제목</th>
                            <th scope="col">작성자</th>
                        </tr>
                        </thead>
                        <tbody id="bookmark-list" class="bookmark-item"></tbody>
                    </table>
                    <div class="row mt-3">
                        <div class="col d-flex justify-content-center">
                            <div id="pagination-container" class="pagination justify-content-center">
                                <ul class="pagination" id="pagination"></ul>
                            </div>
                        </div>
                    </div>

                </main>

            </div>
        </div>
</main>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
        crossorigin="anonymous"></script>
<script src="/static/js/my-profile-bookmarks-data-process.js"></script>
<script src="/static/js/reissue-interceptor.js"></script>
</body>
</html>