<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script> <!-- jQuery 라이브러리 로딩 -->
    <link rel="stylesheet" href="/static/css/nav-style.css">
    <link rel="stylesheet" href="/static/css/my-roadmap.css">
    <link rel="stylesheet" href="/static/css/roadmap-element-style.css">
    <style>

    </style>
</head>
<body>
<header th:replace="navbar.html :: header"></header>
<section>
    <div class="container-md">
        <div class="out-b" style="">
            <div class="row">
                <!-- 년도 선택 -->
                <div class="dropdown p-0 py-1">
                    <button class="btn btn-sm dropdown-toggle select-year" id="dropdown-btn" type="button" data-bs-toggle="dropdown" aria-expanded="false" value="2023">
                        2023
                    </button>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" value="2023" aria-selected="true">2023</a></li>
                        <li><a class="dropdown-item" value="2022">2022</a></li>
                        <li><a class="dropdown-item" value="2021">2021</a></li>
                    </ul>
                </div>
            </div>

            <div class="row days">
                <div class="col text-center align-self-center">
                    <!-- 월 표시 -->
                    <div class="row">
                        <div class="col-1 p-0 tl">01</div>
                        <div class="col-1 p-0 tl">02</div>
                        <div class="col-1 p-0 tl">03</div>
                        <div class="col-1 p-0 tl">04</div>
                        <div class="col-1 p-0 tl">05</div>
                        <div class="col-1 p-0 tl">06</div>
                        <div class="col-1 p-0 tl">07</div>
                        <div class="col-1 p-0 tl">08</div>
                        <div class="col-1 p-0 tl">09</div>
                        <div class="col-1 p-0 tl">10</div>
                        <div class="col-1 p-0 tl">11</div>
                        <div class="col-1 p-0 tl">12</div>
                    </div>
                    <!-- 로드맵 표시 -->
                    <div class="roadmap-container"></div>

                    <!-- 로드맵 만들기 모달창 -->
                    <div class="row">
                        <button class="create-roadmap" data-bs-toggle="modal" data-bs-target="#createRoadmap">+ 로드맵 만들기</button>
                        <div class="modal fade" id="createRoadmap" tabindex="-1" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h1 class="modal-title fs-5" id="exampleModalLabel">로드맵 생성</h1>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <form>
                                            <div class="mb-3">
                                                <!-- roadmap title -->
                                                <div class="input-group mb-3">
                                                    <span class="input-group-text" id="roadmap-title">제목</span>
                                                    <input type="text" id="title" class="form-control" placeholder="제목을 입력해 주세요" aria-describedby="roadmap-title">
                                                </div>
                                                <!-- roadmap type -->
                                                <div class="input-group mb-3">
                                                    <span class="input-group-text" id="roadmap-type">타입</span>
                                                    <select id="type" class="form-control col" aria-describedby="roadmap-type">
                                                        <option value="MILESTONE">MILESTONE</option>
                                                        <option value="BACKEND">BACKEND</option>
                                                        <option value="FRONTEND">FRONTEND</option>
                                                        <option value="DATA">DATA</option>
                                                        <option value="MOBILE">MOBILE</option>
                                                        <option value="GAME">GAME</option>
                                                    </select>
                                                </div>
                                                <!-- roadmap description -->
                                                <div class="input-group mb-3">
                                                    <span class="input-group-text" id="roadmap-description">설명</span>
                                                    <input type="text" id="description" class="form-control" placeholder="설명을 입력해 주세요" aria-describedby="roadmap-description">
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">취소</button>
                                        <button type="button" id="create-roadmap-submit" class="btn btn-primary">저장</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- 로드맵 element 추가 모달창 -->
                    <div class="modal fade" id="createRoadmapElementModal" tabindex="-1" aria-labelledby="createRoadmapElementModalLabel"
                         aria-hidden="true">
                        <div class="modal-dialog modal-dialog-scrollable">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h1 class="modal-title fs-5" id="createRoadmapElementModalLabel">로드맵 일정 추가</h1>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <form id="addRoadmapElement">
                                    <div class="add-element-body modal-body">
                                        <!-- 회원정보 입력 -->
                                        <div class="input-row" data-label="제목" data-type="text" data-id="title"></div>
                                        <div class="input-row" data-label="내용" data-type="textarea" data-id="content"></div>
                                        <div class="input-row" data-label="시작날짜" data-type="datetime-local" data-id="startDate"></div>
                                        <div class="input-row" data-label="종료날짜" data-type="datetime-local" data-id="endDate"></div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">취소</button>
                                        <button type="submit" class="btn btn-primary" id="add-element-submit">추가</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>

                    <!-- 로드맵 수정 모달창 -->
                    <div class="row">
                        <div class="modal fade" id="updateRoadmap" tabindex="-1" aria-hidden="true" >
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h1 class="modal-title fs-5">로드맵 수정</h1>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <form>
                                            <div class="mb-3">
                                                <!-- roadmap title -->
                                                <div class="input-group mb-3">
                                                    <span class="input-group-text" id="update-roadmap-title">제목</span>
                                                    <input type="text" id="update-title" class="form-control" placeholder="제목을 입력해 주세요" aria-describedby="roadmap-title">
                                                </div>
                                                <!-- roadmap type -->
                                                <div class="input-group mb-3">
                                                    <span class="input-group-text" id="update-roadmap-type">타입</span>
                                                    <select id="update-type" class="form-control col" aria-describedby="roadmap-type">
                                                        <option value="MILESTONE">MILESTONE</option>
                                                        <option value="BACKEND">BACKEND</option>
                                                        <option value="FRONTEND">FRONTEND</option>
                                                        <option value="DATA">DATA</option>
                                                        <option value="MOBILE">MOBILE</option>
                                                        <option value="GAME">GAME</option>
                                                    </select>
                                                </div>
                                                <!-- roadmap description -->
                                                <div class="input-group mb-3">
                                                    <span class="input-group-text" id="update-roadmap-description">설명</span>
                                                    <input type="text" id="update-description" class="form-control" placeholder="설명을 입력해 주세요" aria-describedby="roadmap-description">
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">취소</button>
                                        <button type="button" id="update-roadmap-submit" class="btn btn-primary">저장</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- 로드맵 elementTodo 모달창 -->
                    <div class="modal fade" id="roadmapElementTodoModal" aria-hidden="true" >
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h1 class="modal-title fs-5 col" style="text-align: left" id="roadmapElementTodoModalLabel">element title</h1>
                                    <button id="closeTodoModalButton" type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <form id="readElementTodo">
                                    <div class="element-todo-body modal-body">
                                        <!-- elementTodo 리스트 -->
                                    </div>
<!--                                    <div class="modal-footer">-->
<!--                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>-->
<!--                                        <button type="submit" class="btn btn-primary" id="element-submit">저장 후 닫기</button>-->
<!--                                    </div>-->
                                </form>
                            </div>
                        </div>
                    </div>

                    <!-- createTodo 모달창 -->
                    <div class="modal fade" id="createTodo" tabindex="-1" role="dialog" data-bs-backdrop="static" data-bs-keyboard="false">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h1 class="modal-title fs-5" id="todoModalLabel">todo 생성</h1>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <form>
                                        <div class="mb-3">
                                            <!-- createTodo title -->
                                            <div class="input-group mb-3">
                                                <span class="input-group-text" id="todo-title-label">제목</span>
                                                <input type="text" id="todo-title" class="form-control" placeholder="제목을 입력해 주세요" aria-describedby="todo-title">
                                            </div>
                                            <!-- createTodo content -->
                                            <div class="input-group mb-3">
                                                <span class="input-group-text" id="todo-content-label">제목</span>
                                                <input type="text" id="todo-content" class="form-control" placeholder="내용을 입력해 주세요" aria-describedby="todo-content">
                                            </div>
                                            <!-- createTodo url -->
                                            <div class="input-group mb-3">
                                                <span class="input-group-text" id="todo-url-label">URL</span>
                                                <input type="text" id="todo-url" class="form-control" placeholder="URL을 입력해 주세요" aria-describedby="todo-url">
                                            </div>
                                        </div>
                                    </form>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">취소</button>
                                    <button type="button" id="create-todo-submit" class="btn btn-primary create-todo-submit">저장</button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- updateTodo 모달창 -->
                    <div class="modal fade" id="updateTodo" tabindex="-1" role="dialog" data-bs-backdrop="static" data-bs-keyboard="false">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h1 class="modal-title fs-5" id="updateTodoModalLabel">Todo update</h1>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <form>
                                        <div class="mb-3">
                                            <!-- updateTodo title -->
                                            <div class="input-group mb-3">
                                                <span class="input-group-text" id="update-todo-title-label">제목</span>
                                                <input type="text" id="update-todo-title" class="form-control" placeholder="제목을 입력해 주세요" aria-describedby="todo-title">
                                            </div>
                                            <!-- updateTodo content -->
                                            <div class="input-group mb-3">
                                                <span class="input-group-text" id="update-todo-content-label">내용</span>
                                                <input type="text" id="update-todo-content" class="form-control" placeholder="내용을 입력해 주세요" aria-describedby="todo-content">
                                            </div>
                                            <!-- updateTodo url -->
                                            <div class="input-group mb-3">
                                                <span class="input-group-text" id="update-todo-url-label">URL</span>
                                                <input type="text" id="update-todo-url" class="form-control" placeholder="URL을 입력해 주세요" aria-describedby="todo-url">
                                            </div>
                                        </div>
                                    </form>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">취소</button>
                                    <button type="button" id="update-todo-submit" class="btn btn-primary update-todo-submit">저장</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>
<script>

</script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"></script>
<!-- nav -->
<script src="/static/js/main-data-process.js"></script>
<script type="module" src="/static/js/nav-event-handler.js"></script>
<script src="/static/js/reissue-interceptor.js"></script>
<!-- my-roadmap -->
<script src="/static/js/my-roadmap-data-process.js"></script>
<script src="/static/js/my-roadmap-element-data-process.js"></script>
<!-- roadmap element -->
<script src="/static/js/roadmap-element-ui.js"></script>
<script src="/static/js/roadmap-element-event-handler.js"></script>
<script src="/static/js/roadmap-element-data-process.js"></script>
</body>
</html>